.title {
  font-family: Open Sans, serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5em;
}

.copy-right {
  text-transform: uppercase;
  color: #55678b;
  font-family: Open Sans, serif;
  font-weight: 600;
  font-size: 0.875em;
  text-align: center;
  width: 20em;
}
