.swap {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swap-text-input-to-address {
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  border: 1px solid #e4eff4;
  box-sizing: border-box;
  width: 100%;
  height: 3.625em;
  align-items: center;
  margin-bottom: 2em;
  border-radius: 3em;
}

.swap-number-input-amount {
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  border: 1px solid #e4eff4;
  box-sizing: border-box;
  width: 100%;
  height: 3.625em;
  align-items: center;
  margin-bottom: 2em;
  border-radius: 3em;
}
